.fitur-layanan-lps {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.fitur-title {
  font-size: 1.4rem;
  color: var(--color-orange-default);
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: "Nunito", sans-serif;
}

.fitur-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.image-right {
  flex-direction: row-reverse;
}

.fitur-image {
  flex: 1;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.fitur-content {
  flex: 2;
  text-align: left;
}

.fitur-subtitle {
  font-size: 1.3rem;
  /* Menggunakan warna oranye gelap untuk subjudul agar ada sedikit hierarki dari judul utama */
  color: var(--color-orange-dark);
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-family: "Nunito", sans-serif;
}

.fitur-description {
  font-size: 1rem;
  font-weight: 400;
  /* Menggunakan abu-abu gelap untuk deskripsi */
  color: var(--color-gray-dark);
  margin-bottom: 1rem;
  line-height: normal;
  font-family: "Nunito", sans-serif;
}

.fitur-list {
  list-style-type: none;
  padding: 0;
  font-family: "Nunito", sans-serif;
  /* Menggunakan abu-abu gelap untuk teks daftar */
  color: var(--color-gray-dark);
}

.fitur-list li {
  font-size: 1rem;
  line-height: normal;
  padding-left: 1.2rem; /* Add space for the checkmark */
  position: relative;
  margin-bottom: 5px;
}

/* Add the green checkmark before each list item */
.fitur-list li::before {
  content: "•";
  color: var(--color-accent-green);
  font-weight: bold;
  /* margin-right: 5px; */
  position: absolute;
  left: 0;
}

.fitur-item.image-right .fitur-list {
  column-count: 2;
  column-gap: 30px;
  break-inside: avoid-column;
}

@media (max-width: 768px) {
  .fitur-item {
    flex-direction: column;
    text-align: center;
  }

  .fitur-image {
    max-width: 100%;
    width: 100%;
  }

  .fitur-title,
  .fitur-subtitle {
    text-align: start;
  }
  .fitur-description {
    font-size: 0.9rem;
  }
  .fitur-list li {
    font-size: 0.9rem;
  }
}
