.category-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: "Nunito", sans-serif;
}

.category-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border-radius: 9999px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.category-button {
  padding: 0.5rem 1rem;
  font-family: "Nunito", sans-serif;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 600;
  transition-property: background-color, color, box-shadow;
  transition-duration: 200ms;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #4a5568;
  flex-shrink: 0;
}

.category-button.active {
  background-color: #1a202c; /* bg-gray-900 */
  color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.category-button:hover:not(.active) {
  background-color: #e5e7eb; /* hover:bg-gray-100 */
}

@media (max-width: 768px) {
  .category-buttons-wrapper {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    gap: 0.5rem;
    padding: 0.5rem;
    /* background-color: #ffffff;
    border-radius: 9999px; */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
}
