.profile-tutor-lps {
  margin-top: 12vh;
  margin-bottom: 12vh;
  text-align: center;
  margin-left: 0;
  overflow: hidden;
  margin-right: 0;
}

.profile-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  line-height: normal;
  color: var(--color-gray-darker); /* Abu-abu sangat gelap untuk judul utama */
  font-family: "Nunito", sans-serif;
}

.tutor-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* Custom dot style */
.custom-dot-list-style .react-multi-carousel-dot button {
  /* Warna dot saat tidak aktif, menggunakan abu-abu sedang */
  background-color: var(--color-gray-medium);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: none;
}

.custom-dot-list-style .react-multi-carousel-dot--active button {
  /* Warna dot saat aktif, menggunakan oranye utama */
  background-color: var(--color-orange-default);
}

.centered__profiletutor {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  color: var(--color-gray-dark); /* Abu-abu gelap untuk teks paragraf */
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  opacity: 0.98;
  margin-right: auto;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .centered__profiletutor {
    font-size: 0.95rem;
  }
  .profile-title {
    font-size: 1.7rem; /* Ukuran lebih kecil untuk tablet */
  }
}

@media (max-width: 768px) {
  .centered__profiletutor {
    font-size: 0.9rem;
  }
  .profile-title {
    font-size: 1.6rem; /* Ukuran lebih kecil untuk tablet */
  }
}
@media (max-width: 480px) {
  .centered__profiletutor {
    font-size: 0.85rem;
  }
  .profile-title {
    font-size: 1.5rem; /* Ukuran lebih kecil untuk ponsel */
  }
}
