/* VisiEndMisiLps.css */

.visi-misi-container {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  overflow: hidden;
}

.visi-misi-lps-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.visi-misi-lps-title-container img {
  max-width: 4vw;
  width: 100%;
  height: auto;
  margin-left: 1rem;
}

.visi-misi-title {
  font-size: 1.4rem;
  color: var(--color-gray-darker);
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.card-container {
  display: grid;
  gap: 1rem;
  padding-bottom: 4vh;

  justify-content: center;

  grid-template-columns: 1fr;
}

@media (min-width: 601px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: var(--color-gray-lightest);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition:
    transform 0.3s,
    box-shadow 0.3s,
    filter 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  filter: none;
}

.card.blurred {
  filter: blur(3px);
  pointer-events: none;
}

.card-title {
  font-size: 1.2rem;
  color: var(--color-orange-dark);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-title img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  text-align: center;
}

.card-content {
  font-size: 1rem;
  color: var(--color-gray-dark);
  line-height: normal;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

@media (max-width: 1024px) {
  .card-content {
    text-align: start;
  }
}

/* Media Queries for fine-tuning */
@media (max-width: 768px) {
  .card-content {
    font-size: 0.9rem;
    text-align: start;
  }
  .card-title img {
    align-items: start;
  }
  .card-title {
    text-align: start;
  }
  .visi-misi-lps-title-container img {
    max-width: 10vw;
  }
}

@media (max-width: 480px) {
  .visi-misi-title {
    font-size: 1.2rem;
  }

  .card-content {
    font-size: 0.9rem;
  }
}
