/* FLOAT WA */
.box-float-promo-main {
  position: fixed;
  bottom: 17%;
  right: 3%;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-items: center;
}

.icon-promo-float {
  width: 170px; /* Atur ukuran lebar gambar sesuai keinginan Anda */
  height: auto; /* Atur ukuran tinggi gambar sesuai keinginan Anda */
}

/* RESPONSIVE */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .box-float-promo-main {
    right: 2%;
    bottom: 19%;
  }
  .icon-promo-float {
    width: 118px;
    height: auto;
  }
}
