/* Container */
.container-succes-story-home {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.success-story-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* Title and Text Container */
.success-story-title-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .success-story-title-container {
    gap: 2.5rem;
  }
}

/* Title Styling */
.success-story-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-gray-darker);
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1024px) {
  .success-story-title {
    font-size: 1.4rem;
  }
}

/* Description Text */
.success-story-description {
  display: none;
  max-width: 78%;
  color: var(--color-gray-dark);
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

@media (min-width: 768px) {
  .success-story-description {
    display: block;
  }
}

/* Button Styling */
.success-story-button {
  display: inline-block;
  border-radius: 0.5rem;
  background-color: var(--color-orange-default); /* Oranye utama untuk tombol */
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: var(--color-gray-lightest); /* Putih keabu-abuan untuk teks tombol */
  border: none;
  transition: background-color 0.1s ease;
}

.success-story-button:hover {
  background-color: var(
    --color-orange-dark
  ); /* Oranye lebih gelap untuk hover */
}

.success-story-button:focus-visible {
  outline: none;
  /* Menggunakan oranye terang untuk fokus, atau orange-light jika ingin lebih menonjol */
  box-shadow: 0 0 0 2px var(--color-orange-light);
}

.success-story-button:active {
  /* Menggunakan abu-abu ringan untuk active state (saat ditekan) */
  background-color: var(--color-gray-lighter);
  color: var(
    --color-orange-default
  ); /* Kembalikan warna teks ke oranye saat aktif */
}

@media (min-width: 768px) {
  .success-story-button {
    padding: 0.75rem 2rem;
    font-size: 1rem;
  }
}

/* Gallery Container */
.success-story-gallery {
  display: grid;
  gap: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

/* Display 1 column on small screens, 2 columns on medium and larger screens */
@media (min-width: 768px) {
  .success-story-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Image Styling */
.success-story-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 480px) {
  .success-story-gallery {
    gap: 0.8rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
