/* Header Container */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition:
    background-color 0.3s ease,
    backdrop-filter 0.3s ease;
}

.header-container.scrolled {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

/* Navigation Container */
.nav-container {
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .nav-container {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 4px;
  }
}

/* Logo Container */
.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 999;
}

/* Menu Desktop */
.desktop-menu {
  display: none;
}

@media (min-width: 1024px) {
  .desktop-menu {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

/* Mobile Menu */
.mobile-menu {
  display: block;
}

@media (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}

/* Auth Menu */
.auth-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sign-in-button {
  background-color: #ff6500;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  cursor: pointer;
  outline: none;
  font-family: "Nunito", sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* Style untuk ikon WhatsApp */
.button-icon-nav {
  width: 24px;
  height: 24px;
}
.sign-in-button:hover {
  background-color: #b43f3f;
}

.sign-in-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
}

.sign-in-button:active {
  transform: translateY(1px);
}

/* Mobile Menu */
.mobile-menu {
  display: block;
}

@media (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}

.logo-nav {
  height: 5vh;
  padding-bottom: 8px;
  padding-top: 8px;
  will-change: filter;
  transition: filter 300ms;
}
.logo-nav:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo-nav.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (max-width: 1024px) {
  .nav-container {
    padding-left: 4%;
    padding-right: 4%;
  }
  .logo-nav {
    height: 6vh;
    padding-top: 6px;
    will-change: filter;
    transition: filter 300ms;
  }
}

@media (max-width: 768px) {
  .logo-nav {
    height: 6vh;
    padding-top: 6px;
    will-change: filter;
    transition: filter 300ms;
  }
}
@media (max-width: 480px) {
  .logo-nav {
    height: 6vh;
    padding-top: 6px;
    will-change: filter;
    transition: filter 300ms;
  }
}
