/* FLOAT WA */
.box-float-main {
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 9998;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 0;
}
.btn-float-tlp {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: #9b0029;
  border: 1px solid transparent;

  padding: 15px;
  /* padding-left: 6px; */
  border-radius: 100px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}
.parent-icon-tlp {
  background-color: #9b0029;
  padding: 6px;
  /* padding-right: 15px;
      padding-left: 15px; */
  border-radius: 100px;
  width: 100px;
  cursor: pointer;
}
.btn-float-wa {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;

  border: 1px solid transparent;
  background-color: #25d366;
  padding: 7px;

  border-radius: 100px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}
.parent-icon-wa {
  padding: 4px;
  /* padding-right: 16px;
      padding-left: 16px; */
  border-radius: 100px;
  width: 100px;
  cursor: pointer;
  position: relative;
}
.main-parent-wa {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon-wa {
  width: 50px; /* Atur ukuran lebar gambar sesuai keinginan Anda */
  height: 50px; /* Atur ukuran tinggi gambar sesuai keinginan Anda */
}

.label-cta {
  background: rgba(221, 221, 221, 0.87);
  font-size: 13px;
  padding: 8px;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

/* Badge Notifikasi */
.notif-badge {
  position: absolute;
  top: -30px;
  right: -5px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVE */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .box-float-main {
    right: 2%;
    bottom: 1%;
  }
  .icon-wa {
    width: 35px;
    height: 35px;
  }
  .notif-badge {
    width: 18px;
    top: -24px;
    height: 18px;
    font-size: 10px;
  }
}
