/* --- Floating CTA --- */
.box-float-main {
  position: fixed;
  bottom: 6%;
  right: 3%;
  z-index: 1000;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.btn-float-wa {
  font-family: "Nunito", sans-serif;
  border: 1px solid transparent;
  background-color: #25d366;
  padding: 7px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}

.parent-icon-wa {
  position: relative;
}

.icon-wa {
  width: 50px;
  height: 50px;
}

.main-parent-wa {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.label-cta {
  background: rgba(221, 221, 221, 0.87);
  font-size: 13px;
  padding: 8px;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

.notif-badge {
  position: absolute;
  top: -30px;
  right: -5px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  min-width: 400px;
  /* width: 90%; */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 85px;
  right: 0;
  z-index: 1000;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 13px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-close-btn svg {
  width: 20px;
  height: 20px;
  color: #555;
}

.modal-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.modal-header-icon {
  background: #25d366;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header-icon svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}

.modal-title-group {
  text-align: left;
  font-family: "Nunito", sans-serif;
}

.modal-title-chat {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.modal-subtitle {
  margin: 0;
  font-size: 0.8rem;
  color: #666;
}

.modal-waiting-time {
  margin: 15px 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  color: #888;
  text-align: left;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}

.contact-item {
  margin-bottom: 10px;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background: #f1f1f1;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.contact-link:hover {
  background-color: #e0e0e0;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-wa-icon {
  width: 24px;
  height: 24px;
}

.contact-details {
  display: flex;
  font-family: "Nunito", sans-serif;
  flex-direction: column;
  text-align: left;
}

.contact-name {
  font-weight: bold;
  color: #333;
  font-size: 0.9rem;
}

.contact-role {
  color: #888;
  font-size: 0.8rem;
}

.contact-icon-right {
  width: 24px;
  height: 24px;
}

/* --- Responsive --- */
@media only screen and (max-width: 768px) {
}
/* --- Responsive --- */
@media only screen and (max-width: 768px) {
  .modal-overlay {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .modal-content {
    margin-bottom: 0;
    min-width: 364px;
  }
  /* --- Floating CTA --- */
  .box-float-main {
    bottom: 10%;
  }
}
