Program Les Privat CPNS/* ProgramCPNS.css */

.program-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: start;
}

.main-title-cpns {
  font-size: 1.2rem;
  text-align: start;
  margin-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 4px solid #ff6500;
  padding-left: 0.3rem;
  color: var(--color-gray-darker);
  font-family: "Poppins", sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.program-image {
  width: 100%;

  height: auto;
  border-radius: 8px;
}

/* .program-section {
  margin-bottom: 2rem;
} */

.section-title-cpns {
  font-size: 1rem;

  color: var(--color-gray-darker);
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 700;
  border-left: 4px solid #ff6500;
  padding-left: 0.3rem;
}
.section-title-cpns-v2 {
  font-size: 1rem;
  color: var(--color-gray-darker);
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.section-description {
  font-size: 1rem;
  color: #343131;
  line-height: normal;
  text-align: start;
  font-family: "Nunito", sans-serif;
}
.section-description-paket {
  font-size: 1rem;
  color: #343131;
  line-height: normal;
  text-align: start;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.package-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #555;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

/* Responsif untuk layar tablet */
@media (max-width: 1024px) {
  .main-title-cpns {
    font-size: 1.2rem; /* Menyesuaikan ukuran judul utama */
  }

  .section-title-cpns {
    font-size: 1.2rem; /* Menyesuaikan ukuran judul section */
  }

  .section-description {
    font-size: 0.95rem; /* Menyesuaikan ukuran deskripsi */
  }
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .main-title-cpns {
    font-size: 1.1rem; /* Lebih kecil untuk layar kecil */
  }

  .section-title-cpns {
    font-size: 1.1rem; /* Ukuran lebih kecil */
  }

  .section-description {
    font-size: 0.9rem; /* Lebih kecil untuk deskripsi */
  }
  .package-list {
    font-size: 0.9rem;
  }
  .section-title-cpns-v2 {
    font-size: 0.9rem;
  }
}

/* Responsif untuk layar sangat kecil */
@media (max-width: 480px) {
  .main-title-cpns {
    font-size: 1.1rem; /* Menyesuaikan ukuran pada layar ponsel kecil */
  }

  .section-title-cpns {
    font-size: 1rem; /* Ukuran lebih kecil untuk judul */
  }

  .section-description {
    font-size: 0.9rem; /* Menyesuaikan untuk deskripsi */
  }
}
