/* Container Styling */
.program-simak-ui-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/* Image Styling */
.program-simak-ui-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

/* Title Styling */
.program-simak-ui-title {
  font-size: 1.4rem;
  color: var(--color-gray-darker);
  font-weight: 700;
  text-align: start;
  margin-bottom: 0.5rem;
  font-family: "Nunito", sans-serif;
}
/* Title Styling */
.program-simak-ui-title-h2 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  border-left: 4px solid #ff6500;
  padding-left: 0.3rem;
  margin-bottom: 0.5rem;
  font-family: "Nunito", sans-serif;
}
/* Title Styling */
.program-simak-ui-title-h3 {
  font-size: 1.1rem;
  color: #333;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

/* Description Styling */
.program-simak-ui-description {
  font-size: 1rem;
  color: #343131;
  font-weight: 400;
  line-height: normal;

  font-family: "Nunito", sans-serif;
}

/* List Styling */
.program-simak-ui-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-size: 0.9rem;
  color: #343131;
  margin-left: 0.3rem;
  font-family: "Nunito", sans-serif;
}

.program-simak-ui-list li {
  padding: 0.1rem 0;
}

/* Custom marker styling */
.program-simak-ui-list li::marker {
  color: #1e3e62; /* Ubah warna titik */
  font-size: 1.2rem; /* Ubah ukuran titik jika perlu */
}

.additional-description_simak-ui {
  font-size: 1rem;
  color: #343131;
  text-align: start;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  line-height: normal;
  font-family: "Nunito", sans-serif;
}

/* Responsif untuk layar tablet */
@media (max-width: 1024px) {
  .program-simak-ui-list li::marker {
    color: #1e3e62; /* Warna titik untuk layar lebih kecil */
  }
  .program-simak-ui-title {
    font-size: 1.3rem; /* Ukuran judul lebih kecil */
  }

  .program-simak-ui-title-h2 {
    font-size: 1.2rem; /* Ukuran sub-judul lebih kecil */
  }

  .program-simak-ui-description {
    font-size: 0.95rem; /* Ukuran deskripsi lebih kecil */
  }

  .program-simak-ui-list {
    font-size: 0.95rem; /* Ukuran daftar lebih kecil */
  }
  .additional-description_simak-ui {
    font-size: 0.9rem; /* Ukuran lebih kecil untuk tablet */
    line-height: normal;
    margin-top: 1.5rem; /* Mengurangi jarak margin atas */
  }
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .program-simak-ui-title {
    font-size: 1.2rem; /* Ukuran judul lebih kecil */
  }
  .additional-description_simak-ui {
    font-size: 0.85rem; /* Ukuran lebih kecil untuk ponsel */
    line-height: normal;

    margin-top: 1rem; /* Jarak margin atas lebih kecil */
  }

  .program-simak-ui-title-h2 {
    font-size: 1.1rem; /* Ukuran sub-judul lebih kecil */
  }

  .program-simak-ui-description {
    font-size: 0.9rem; /* Ukuran deskripsi lebih kecil */
  }

  .program-simak-ui-list {
    font-size: 0.9rem; /* Ukuran daftar lebih kecil */
  }
}

/* Responsif untuk layar sangat kecil */
@media (max-width: 480px) {
  .program-simak-ui-title {
    font-size: 1.2rem; /* Ukuran judul paling kecil */
  }

  .program-simak-ui-title-h2 {
    font-size: 1.1rem; /* Ukuran sub-judul paling kecil */
  }

  .program-simak-ui-description {
    font-size: 0.85rem; /* Ukuran deskripsi paling kecil */
  }

  .program-simak-ui-list {
    font-size: 0.85rem; /* Ukuran daftar paling kecil */
  }
  .additional-description_simak-ui {
    font-size: 0.8rem; /* Ukuran terkecil untuk layar kecil */
    line-height: normal;
    margin-top: 0.5rem; /* Jarak margin atas lebih kecil */
  }
}
